[Unit]
Description=Post Rebase Setup (User)
Wants=network-online.target
After=system-flatpak-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/tylers-os-user-post-rebase-setup

[Install]
WantedBy=multi-user.target
