[Unit]
Name=Tyler's OS Post Rebase Setup (System)
Description=Post Rebase Setup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tylers-os-system-post-rebase-setup
