[Unit]
Description=Tyler\'s OS Flatpak Setup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tylers-os-flatpak-setup

[Install]
WantedBy=multi-user.target
